aiohttp==1.3.2
appdirs==1.4.0
async-timeout==1.1.0
blessings==1.6
boto==2.45.0
bpython==0.16
chardet==2.3.0
coverage==4.3.4
curtsies==0.2.11
defusedxml==0.5.0
dj-database-url==0.4.2
dj-email-url==0.0.10
Django==1.10.5
django-allauth==0.30.0
django-debug-toolbar==1.6
django-filter==1.0.1
django-model-utils==2.6.1
django-post-office==2.0.8
django-redis-cache==1.7.1
django-rest-auth==0.9.0
django-storages==1.5.2
django-widget-tweaks==1.4.1
djangorestframework==3.5.4
factory-boy==2.8.1
fake-factory==9999.9.9
Faker==0.7.7
greenlet==0.4.12
gunicorn==19.6.0
invoke==0.15.0
jsonfield==1.0.3
multidict==2.1.4
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
Pygments==2.2.0
pyinotify==0.9.6
pyparsing==2.1.10
python-coveralls==2.9.0
python-dateutil==2.6.0
python3-openid==3.0.10
pytz==2016.10
PyYAML==3.12
redis==2.10.5
requests==2.13.0
requests-oauthlib==0.8.0
selenium==3.0.2
six==1.10.0
sqlparse==0.2.2
wcwidth==0.1.7
whitenoise==3.3.0
yarl==0.9.8
